Chapter 4 working with lists

LOOPS

In [ ]:
Magicicans = ['david','alice','carolina']
for Magician in Magicicans:                # it reads like for every magician in the list magicians
    print(Magician)                        # print magician name

david
alice
carolina

TAKE MEANINGFUL TEMPEROARY VARIABLE NAME WHICH MAKE SENSE

In [2]:
# for cat in cats 
# for dog in dogs
# for item in item_list

In [3]:
for magician in magicicans:
    print(f'{magician.title()}, that was a great trick.')
    print(f'I cannot wait to see your next trick {magician.title()}. \n')

print('Thank you, magicians for your great show')

David, that was a great trick.
I cannot wait to see your next trick David.

Alice, that was a great trick.
I cannot wait to see your next trick Alice.

Carolina, that was a great trick.
I cannot wait to see your next trick Carolina.

Thank you, magicians for your great show

In [4]:
# avoiding indentation errors

for magician in magicicans:
print(magician)

IndentationError: expected an indented block after 'for' statement on line 3 (2136976704.py, line 4)

In [ ]:
# forgetting to indent additional lines it produce output but not desired

for magician in magicicans:
    print(f'{magician.title()}, that was a great trick.')
print(f'I cannot wait to see your next trick {magician.title()}. \n')

David, that was a great trick.
Alice, that was a great trick.
Carolina, that was a great trick.
I cannot wait to see your next trick Carolina.

In [ ]:
# indenting unnecessarily 

message = "hello python world!"
    print(message)

IndentationError: unexpected indent (1888340092.py, line 4)

In [ ]:
# indenting unnecessarily after the loop

for magician in magicicans:
    print(f'{magician.title()}, that was a great trick.')
    print(f'I cannot wait to see your next trick {magician.title()}.')
    print('Thank you, magicians for your great show \n')

David, that was a great trick.
I cannot wait to see your next trick David.
Thank you, magicians for your great show

Alice, that was a great trick.
I cannot wait to see your next trick Alice.
Thank you, magicians for your great show

Carolina, that was a great trick.
I cannot wait to see your next trick Carolina.
Thank you, magicians for your great show

In [ ]:
# forgetting the colon 

for magician in magicicans
    print(magician)

SyntaxError: expected ':' (1547537599.py, line 3)

TRY IT YOURSELF 1

In [ ]:
pizzas = ['cheeze pizza','onion and garlic pizza','chicken pizza' , 'veg capcicum pizza']
for pizza in pizzas:
    print(f'i like {pizza}')

print("Pizza is the one thing that I will never get tired of.")

i like cheeze pizza
i like onion and garlic pizza
i like chicken pizza
i like veg capcicum pizza
Pizza is the one thing that I will never get tired of.

In [ ]:
animals = ['cow','dog','cat','horse']
for animal in animals:
    print(animal)
    print(f'A {animal} would be a great pet.\n')
print('Any of these make a great pet!')

cow
A cow would be a great pet.

dog
A dog would be a great pet.

cat
A cat would be a great pet.

horse
A horse would be a great pet.

Any of these make a great pet.!

In [ ]:
# making numerical list 

# using range fumnction

for value in range(1,5):
    print(value)

for value in range(1,6):
    print(value)

1
2
3
4
1
2
3
4
5

In [ ]:
for value in range(5):
    print(value)

0
1
2
3
4

In [ ]:
# using range to make a list of numbers

numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers = list(range(2,21,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
squares = []
for value in range(1,11):
    sq = value**2
    squares.append(sq)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# simple statistics using list of numbers


digits = [0,1,2,3,4,5,6,7,8,9]

print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

In [ ]:
# list comprehension

squar = [value**2 for value in range(11)]
print(squar)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

TRY IT YOURSELF 2

In [ ]:
# counting to 20

for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# one million 

list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    print(i)

print(min(list1))
print(max(list1))

1
2
3
4
5
6
7
8
9
10
1
10

In [ ]:
for num in range(1,20,2):
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
multiple_of_threes = []

for i in range(3,31,3):
    multiple_of_threes.append(i)

print(multiple_of_threes) 

for i in multiple_of_threes:
    print(i)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
3
6
9
12
15
18
21
24
27
30

In [ ]:
# cube
cube = []
for i in range(1,11):
    cube.append(i**3)

for i in cube:
    print(i)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
# cube through list comprehension

cube = [(cubes**3) for cubes in range(1,11)]
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

WORKING WITH PART OF LIST

In [ ]:
# SLICING A LIST

players = ["Alice", "Bob", "Charlie", "David", "Eve","Alia", "Boby", "Charl", "Dave", "Eveaa"]

print(players[0:3])

print(players[1:4])

print(players[:4])

print(players[2:])

print(players[-3:]) # -ve indexing works

print(players[::5]) # jumping by giving 3rd argument

['Alice', 'Bob', 'Charlie']
['Bob', 'Charlie', 'David']
['Alice', 'Bob', 'Charlie', 'David']
['Charlie', 'David', 'Eve', 'Alia', 'Boby', 'Charl', 'Dave', 'Eveaa']
['Charl', 'Dave', 'Eveaa']
['Alice', 'Alia']

In [ ]:
print("Here are the first three players team :")

for player in players[:3]:
    print(player.title ())

Here are the first three players team :
alice
bob
charlie

In [ ]:
# makeing copy of my list

my_foods = ["Pizza", "Burger", "Pasta", "Sushi", "Salad"]
friend_food = my_foods[:]

print("here's my favourite food : ",my_foods)
print("here's my friends favourite food : ",friend_food)

here's my favourite food :  ['Pizza', 'Burger', 'Pasta', 'Sushi', 'Salad']
here's my friends favourite food :  ['Pizza', 'Burger', 'Pasta', 'Sushi', 'Salad']

In [ ]:
# prove that given lists my food and friend food are two distinct list


my_foods.append('ice cream')
friend_food.append('falafal')

print(my_foods)
print(friend_food)

['Pizza', 'Burger', 'Pasta', 'Sushi', 'Salad', 'ice cream']
['Pizza', 'Burger', 'Pasta', 'Sushi', 'Salad', 'falafal']

In [ ]:
my_foods = ["Pizza", "Burger", "Pasta", "Sushi", "Salad"]
friend_food = my_foods

print("here's my favourite food : ",my_foods)
print("here's my friends favourite food : ",friend_food)

'''tht is same list cuz we are assigning the variable friend food to my food we are not copying the list like above'''

here's my favourite food :  ['Pizza', 'Burger', 'Pasta', 'Sushi', 'Salad']
here's my friends favourite food :  ['Pizza', 'Burger', 'Pasta', 'Sushi', 'Salad']

TRY IT YOURSELF 3

In [ ]:
items = [1,2,3,4,5,6,7,8,9,10]

print(f'first three items are in list are {items[:3]}')
print(f'middle three items are in list are {items[3:6]}')
print(f'last three items are in list are {items[-3:]}')

first three items are in list are [1, 2, 3]
middle three items are in list are [4, 5, 6]
last three items are in list are [8, 9, 10]

In [ ]:
my_pizzas_menu = ['chilli pizza','onion and garlic pizza','chicken pizza','veg capcicum pizza']

friend_pizzas_menu = my_pizzas_menu[:]

my_pizzas_menu.append('thin crust pizza')
friend_pizzas_menu.append('Cheese burst pizza')

print("here's my favourite pizzas are : ")
for pizza in my_pizzas_menu:
    print(pizza)
print()
print("here's my friends favourite pizzas are : ")
for pizza in friend_pizzas_menu:
    print(pizza)

here's my favourite pizzas are :
chilli pizza
onion and garlic pizza
chicken pizza
veg capcicum pizza
thin crust pizza

here's my friends favourite pizzas are :
chilli pizza
onion and garlic pizza
chicken pizza
veg capcicum pizza
Cheese burst pizza

TUPLES

In [ ]:
dimensions = (200,250)

print(dimensions[0])
print(dimensions[1])

200
250

In [ ]:
# lets trying to change the value of tuple

dimensions[0] = 245

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple with one element has a trailing comma

my_tuple = (3,)
type(my_tuple)

tuple

In [ ]:
# looping over tuple 

for dimension in dimensions:
    print(dimension)

200
250

In [ ]:
# writing over tuples

dimensions = (12,23,45)

print('original dimensions are :')
for dimension in dimensions:
    print(dimension)

print('\nnew dimensions are :') # reassigning are valid we can re assign as much we want
dimensions = (32,34,43)
for dimension in dimensions:
    print(dimension)


# we cannot change the tuple but reassign the same varible multiple time

original dimensions are :
12
23
45

new dimensions are :
32
34
43

TRY IT YOURSELF 4

In [7]:
# BUFFET 

buffet = ('naan','butter chicken','khadai paneer','kheer','ice cream','kababs','biryani')

for dish in buffet:
    print(dish)

naan
butter chicken
khadai paneer
kheer
ice cream
kababs
biryani

In [8]:
# try to change to see python dont accept it

buffet[0] = 'butter naan'

TypeError: 'tuple' object does not support item assignment

In [ ]:
buffet = ('naan','butter chicken','khadai paneer','kheer','biryani','pasta','munchcurian')

print("here's the new tuple with same variable name :")
for dish in buffet:
    print(dish)

here's the new tuple with same variable name :
naan
butter chicken
khadai paneer
kheer
biryani
pasta
munchcurian

TRY IT YOURSELF 5

In [ ]:
''' follow pep 8 rules go and check all rules in python's website '''