LISTS

make variables name plural cuz list have more than one elements

python indexes start from 0 not 1

In [206]:
bicycles = ['trek','cannondale','redline','specilized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specilized']

In [207]:
# accessing element in list

print(bicycles[0])

# more presentable method

print(bicycles[0].title())

trek
Trek

In [208]:
print(bicycles[1])
print(bicycles[2])

cannondale
redline

In [209]:
# special index

print(bicycles[-1])
print(bicycles[-2])
print(bicycles[-3])

specilized
redline
cannondale

In [210]:
# using individual values form a list

message = f'My First Bicycle Was A {bicycles[2].title()}'
print(message)

My First Bicycle Was A Redline

TRY IT YOURSELF 1

In [211]:
names = ['kanye','travis','vashu','oggy', 'jack','bob']

print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])
print(names[5])

kanye
travis
vashu
oggy
jack
bob

In [212]:
print(f'hello my one of the friend name is {names[0]}') 
print(f'hello my one of the friend name is {names[1]}') 
print(f'hello my one of the friend name is {names[2]}') 
print(f'hello my one of the friend name is {names[3]}') 
print(f'hello my one of the friend name is {names[4]}')
print(f'hello my one of the friend name is {names[5]}')

hello my one of the friend name is kanye
hello my one of the friend name is travis
hello my one of the friend name is vashu
hello my one of the friend name is oggy
hello my one of the friend name is jack
hello my one of the friend name is bob

In [213]:
transportion = ['cycle','bike','bus','car','scooty','plane','yatch']
message_1 = f'i would like to buy {transportion[5]} one day'
print(message_1)

i would like to buy plane one day

In [214]:
# modifying adding or removing 

motercycles = ['honda', 'kawasaki', 'yamaha', 'suzuki', 'harley', 'ktm']

motercycles[2] = 'ducati'

print(motercycles)

['honda', 'kawasaki', 'ducati', 'suzuki', 'harley', 'ktm']

In [215]:
# adding

motercycles.append('yamaha')
print(motercycles)

['honda', 'kawasaki', 'ducati', 'suzuki', 'harley', 'ktm', 'yamaha']

In [216]:
# trying with empty list

cars = []
cars.append('porche')
cars.append('Audi')
cars.append('Bmw')
cars.append('Mercedes')
cars.append('Range Rover')
cars.append('Ferrari')
print(cars)

['porche', 'Audi', 'Bmw', 'Mercedes', 'Range Rover', 'Ferrari']

In [217]:
# insert any element at any position 
# every time you run it add a value

motercycles.insert(3,'hasqverna')
print(motercycles)

['honda', 'kawasaki', 'ducati', 'hasqverna', 'suzuki', 'harley', 'ktm', 'yamaha']

In [218]:
# removing the element
# every time you run it delete a value 
del motercycles[3]
print(motercycles)

['honda', 'kawasaki', 'ducati', 'suzuki', 'harley', 'ktm', 'yamaha']

In [219]:
# removing it by pop method which works like removing top of the stack

pop_element = motercycles.pop()
print(motercycles)
print(pop_element)

['honda', 'kawasaki', 'ducati', 'suzuki', 'harley', 'ktm']
yamaha

In [220]:
last_owned_motercycle = pop_element
print(f'the last motercycle i bought this year is : {last_owned_motercycle.title()}.')

the last motercycle i bought this year is : Yamaha.

In [221]:
# poping item form any position 

first_motercycle = motercycles.pop(0)
print(f'my first motercycle i owned was {first_motercycle.title()}.')

my first motercycle i owned was Honda.

In [222]:
# removing an item by value

print(motercycles)

too_expensive = 'ducati'

motercycles.remove(too_expensive)
print(motercycles)

print(f'\n A {too_expensive.title()} is to expensive for me ')

['kawasaki', 'ducati', 'suzuki', 'harley', 'ktm']
['kawasaki', 'suzuki', 'harley', 'ktm']

 A Ducati is to expensive for me

TRY IT YOURSELF 2

In [223]:
guest_list = ['Nikola Tesla', 'Isaac Newton', 'Albert Einstein', 'Archimedes']
not_coming = 'Archimedes'
guest_list.remove(not_coming)
guest_list.insert(2,'Thomas Edison')
print(guest_list)
print(f'{guest_list[0]}, {guest_list[1]}, {guest_list[2]}, {guest_list[3]} your are kindly invited to my party.')

['Nikola Tesla', 'Isaac Newton', 'Thomas Edison', 'Albert Einstein']
Nikola Tesla, Isaac Newton, Thomas Edison, Albert Einstein your are kindly invited to my party.

In [224]:
print(guest_list)
guest_list.insert(0,'Stephen Hawking')
guest_list.insert(3,'Alan Turing')
guest_list.append('J. J. Thomson')
print(guest_list)
print(f'{guest_list[0]}, {guest_list[1]}, {guest_list[2]}, {guest_list[3]}, {guest_list[4]}, {guest_list[5]}, {guest_list[6]} your are kindly invited to my party.')

['Nikola Tesla', 'Isaac Newton', 'Thomas Edison', 'Albert Einstein']
['Stephen Hawking', 'Nikola Tesla', 'Isaac Newton', 'Alan Turing', 'Thomas Edison', 'Albert Einstein', 'J. J. Thomson']
Stephen Hawking, Nikola Tesla, Isaac Newton, Alan Turing, Thomas Edison, Albert Einstein, J. J. Thomson your are kindly invited to my party.

In [225]:
print('sorry i can invite only two peoples for dinner !')
sorry = guest_list.pop()
print(guest_list)
message_2 = f'{sorry} I am so sorry that i cannot invite you in this party beacause of dinner table issue'
print(message_2)

sorry i can invite only two peoples for dinner !
['Stephen Hawking', 'Nikola Tesla', 'Isaac Newton', 'Alan Turing', 'Thomas Edison', 'Albert Einstein']
J. J. Thomson I am so sorry that i cannot invite you in this party beacause of dinner table issue

In [226]:
print(f'{guest_list[0]}, { guest_list[1]} you are invitied')

Stephen Hawking, Nikola Tesla you are invitied

In [227]:
del guest_list

guest_list

NameError: name 'guest_list' is not defined

In [ ]:
# organizing the list

#sorting list permanently with sort()

# sort() is permanent 

# sorted() is temperary
print('original  : ',cars)

cars.sort()
print(cars)

cars.sort(reverse=True)
print(cars)

original  :  ['porche', 'Range Rover', 'Mercedes', 'Ferrari', 'Bmw', 'Audi']
['Audi', 'Bmw', 'Ferrari', 'Mercedes', 'Range Rover', 'porche']
['porche', 'Range Rover', 'Mercedes', 'Ferrari', 'Bmw', 'Audi']

In [ ]:
alphabets = ['d','e','r','y','j','w','a','s','o','g']

print(alphabets) # original

print(sorted(alphabets)) # it sort but not permanent change

print(alphabets) # original

['d', 'e', 'r', 'y', 'j', 'w', 'a', 's', 'o', 'g']
['a', 'd', 'e', 'g', 'j', 'o', 'r', 's', 'w', 'y']
['d', 'e', 'r', 'y', 'j', 'w', 'a', 's', 'o', 'g']

In [ ]:
# reversing the list not sorting
#  just ulta krna hai naaki ulta sort krna hai

alphabet = ['a','b','c','d','e']

alphabet.reverse()

print(alphabet)

['e', 'd', 'c', 'b', 'a']

In [ ]:
# finding the length of list
print(alphabets)
print(len(alphabets))

['d', 'e', 'r', 'y', 'j', 'w', 'a', 's', 'o', 'g']
10

TRY BY YOURSELF 3

In [ ]:
countries = ['Italy','New Zealand','Greece','Argentina','Spain','Australia']

print('original one : ' ,countries)

print('sorted without real list changing change :', sorted(countries))

print('same as original one : ' ,countries)

print('sorted in reverse without real list changing :', sorted(countries,reverse=True))

print('same as original another time: ' ,countries)

original one :  ['Italy', 'New Zealand', 'Greece', 'Argentina', 'Spain', 'Australia']
sorted without real list changing change : ['Argentina', 'Australia', 'Greece', 'Italy', 'New Zealand', 'Spain']
same as original one :  ['Italy', 'New Zealand', 'Greece', 'Argentina', 'Spain', 'Australia']
sorted in reverse without real list changing : ['Spain', 'New Zealand', 'Italy', 'Greece', 'Australia', 'Argentina']
same as original another time:  ['Italy', 'New Zealand', 'Greece', 'Argentina', 'Spain', 'Australia']

In [ ]:
print('original : ',countries)

countries.reverse() # changing order not sorting

print('order changed : ',countries)

countries.reverse()

print('back in normal original state : ',countries)

original :  ['Italy', 'New Zealand', 'Greece', 'Argentina', 'Spain', 'Australia']
order changed :  ['Australia', 'Spain', 'Argentina', 'Greece', 'New Zealand', 'Italy']
back in normal original state :  ['Italy', 'New Zealand', 'Greece', 'Argentina', 'Spain', 'Australia']

In [ ]:
print(countries)

countries.sort()

print(countries)

['Italy', 'New Zealand', 'Greece', 'Argentina', 'Spain', 'Australia']
['Argentina', 'Australia', 'Greece', 'Italy', 'New Zealand', 'Spain']

In [ ]:
print(countries)

countries.sort(reverse=True)

print(countries)

['Argentina', 'Australia', 'Greece', 'Italy', 'New Zealand', 'Spain']
['Spain', 'New Zealand', 'Italy', 'Greece', 'Australia', 'Argentina']

In [ ]:
print(countries)

print(len(countries))

['Spain', 'New Zealand', 'Italy', 'Greece', 'Australia', 'Argentina']
6

In [ ]:
# using every function which i use in this chapter one by one line by line 

motorcycle_brands = ["Harley","Honda","Yamaha","Kawasaki"]
print(motorcycle_brands)
motorcycle_brands.append('KTM')
print(motorcycle_brands)
motorcycle_brands.insert(4,"Triumph")
print(motorcycle_brands)

motorcycle_brands.append('A')
motorcycle_brands.append('B')
motorcycle_brands.append('C')
motorcycle_brands.append('D')

['Harley', 'Honda', 'Yamaha', 'Kawasaki']
['Harley', 'Honda', 'Yamaha', 'Kawasaki', 'KTM']
['Harley', 'Honda', 'Yamaha', 'Kawasaki', 'Triumph', 'KTM']

In [ ]:
motorcycle_brands.pop()
print(motorcycle_brands)

motorcycle_brands.pop(1)
print(motorcycle_brands)

motorcycle_brands.remove('A')
print(motorcycle_brands)

['Harley', 'Yamaha', 'Kawasaki', 'Triumph', 'KTM', 'A', 'B']
['Harley', 'Kawasaki', 'Triumph', 'KTM', 'A', 'B']
['Harley', 'Kawasaki', 'Triumph', 'KTM', 'B']

In [ ]:
# avoid index error when working with lists

list_1 = []
list_1[-1]

IndexError: list index out of range

TRY IT YOURSELF 4

In [ ]:
# make an idex error

list_1 = []

list_1[-1]

list_1[0]

IndexError: list index out of range